
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Biryani&family=Roboto+Mono:ital,wght@1,300&display=swap');

:root {
  --border-radius: 0.5rem;
  --shadow-blur: 0.3rem;
  --shadow-spread: 0.2rem;

  --page-padding-x: 3vw;
  --page-padding-y: 3vh;

  --header-height: 15vh;

  --default-purple: #9b9be7;
  --light-purple: #d9d9f6;

  --font-header: "Roboto Mono", Arial, sans serif;
  --font-subheader: "Asap", Arial, sans serif;
  --font-body: "Biryani", Arial, sans serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: var(--font-body);
  header {
    display: flex;
    height: var(--header-height);
    background-color: var(--light-purple);
    padding: var(--page-padding-y) var(--page-padding-x);
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: var(--font-header);
    }
    nav {
      display: none;
    }
  }

  main {
    padding: var(--page-padding-y) var(--page-padding-x);
    h2, h3 {
      font-family: var(--font-subheader);
    }
    #landing-section {
      padding-top: 5vh;
      height: calc(100vh - var(--header-height));
      animation: fadeIn 0.6s ease-out forwards;
      #landing-pictures {
        display: flex;
        #portrait-placeholder {
          width: 10rem;
        }
      }
      h2 {
        font-family: var(--font-header);
        font-size: 4rem;
      }
      p {
        max-width: 70ch;
      }
    }
    .card {
      background-color: white;
      border-radius: var(--border-radius);
      box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) lightgray;
      padding: 2rem;
      animation: fadeIn 0.6s ease-out forwards;
      hr {
        margin: 0.7rem 0;
      }
    }
    .card-group {
      #education {
        margin-bottom: 2rem;
      }
    }
  }
  main#about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    #skills {
      ul {
        list-style: none;
        column-count: 2;
        li + li {
          margin-top: 1rem;
        }
      }
    }
    ol {
      list-style: none;
    }
  }
  main#projects {
    #project-showcase {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  main#contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    form fieldset {
      border: none;
      div + div {
        margin-top: 1rem;
      }
      input, textarea {
        width: 100%;
        padding: 0.3rem;
        resize: none;
      }
      button {
        margin-top: 1rem;
        width: 100%;
        padding: 0.6rem 0;
        color: white;
        background-color: black;
        border: none;
        border-radius: var(--border-radius);
      }
    }
    #contact-info {
      h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      h3 ~ h3 {
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  :root {
    --page-padding-x: 22vw;
    --page-padding-y: 2vh;
    --header-height: 10vh;
  }

  body {
    header {
      ul {
        display: flex;
        li {
          display: inline;
        }
      }
      nav {
        display: flex;
        gap: 2rem;
        a {
          color: black;
          text-decoration: none;
          background-color: white;
          padding: 0.5rem 2rem 0.2rem;
          border-radius: var(--border-radius);
        }
        a:hover {
          background-color: gray;
          color: white;
        }
        a:active {
          background-color: var(--default-purple);
          color: white;
        }
      }
    }

    main {
      padding: var(--page-padding-y) var(--page-padding-x);
      h2, h3 {
        font-family: var(--font-subheader);
      }
      #landing-section {
        padding-top: 10vh;
        height: calc(100vh - var(--header-height));
        animation: fadeIn 0.6s ease-out forwards;
        #landing-pictures {
          display: flex;
          #portrait-placeholder {
            width: 10rem;
          }
        }
        h2 {
          font-family: var(--font-header);
          font-size: 8rem;
        }
      }
      .card-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }
    main#about {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      #skills {
        ul {
          list-style: none;
          column-count: 2;
          li + li {
            margin-top: 1rem;
          }
        }
      }
      ol {
        list-style: none;
      }
    }
    main#projects {
      #project-showcase {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;
      }
    }
    main#contact {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      form fieldset {
        border: none;
        div + div {
          margin-top: 1rem;
        }
        input, textarea {
          width: 100%;
          padding: 0.3rem;
          resize: none;
        }
        button {
          margin-top: 1rem;
          width: 100%;
          padding: 0.6rem 0;
          color: white;
          background-color: black;
          border: none;
          border-radius: var(--border-radius);
        }
      }
      #contact-info {
        h3 {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        h3 ~ h3 {
          margin-top: 1rem;
        }
      }
    }
  }
}
